nav {
  width: 100%;
  background-color: #4c5264;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  width: 100%;
  max-width: 1200px;
  height: 4rem;
  margin: auto;
}

nav .nav-container span {
  cursor: pointer;
  border-radius: 7px;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

nav .nav-container span::after {
  content: 'Find';
  color: #70c7a7;
}

nav .nav-container div {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  border-bottom: 2px #70c7a7 solid;
}

@media screen and (max-width: 768px) {
  nav .nav-container {
    height: 3.5rem;
    padding: 0 20px;
  }
  nav .nav-container span {
    font-size: 2rem;
  }
  nav .nav-container div {
    font-size: 1rem;
  }
}
