.search-box {
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin: 50px auto;
}

.search-box h4 {
  font-size: 2rem;
  color: #4c5264;
  margin-bottom: 10px;
}

.search-box .input-container {
  width: 100%;
  height: 40px;
  position: relative;
  border: none;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background-color: white;
}

.search-box .input-container img {
  width: 23px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  -webkit-filter: invert(0.7);
          filter: invert(0.7);
}

.search-box .input-container input {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 50px;
  color: #4c5264;
}

@media screen and (max-width: 768px) {
  .search-box {
    padding: 20px;
    margin: 20px 0;
  }
  .search-box h4 {
    font-size: 1.7rem;
  }
  .search-box .input-container {
    height: 30px;
  }
  .search-box .input-container input {
    font-size: 1rem;
    padding-left: 40px;
  }
  .search-box .input-container img {
    left: 10px;
  }
}
